body{
	margin: 0;
	text-align: center;
	justify-content: center;
	font-family: sans-serif;
	background-color: grey;
	font-weight: 1em;
	/*https://developer.mozilla.org/en-US/docs/Web/CSS/cursor*/
}

#background{
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	opacity: 0.2;
	z-index: -1;
	mix-blend-mode: color-burn;

}

ul{
	margin: 50px;
	list-style: none;
	text-decoration: none;
}

a:link{
	text-decoration: none;
	color: rgb(255,0,0);
}

a:visited{
	color: rgb(0,0,255);
}

a:active, a:hover{
	color: rgb(0,255,0);
}

p{
	color: red;
}



