body{
	margin: 0;
	background-color: black;
	/*https://developer.mozilla.org/en-US/docs/Web/CSS/cursor*/
	cursor: crosshair;
}

#grid{
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	opacity: 0.2;
}

#menu{
	display: flex;
	justify-content: space-evenly;
}

.mask{
	margin-top: 150px;
	mix-blend-mode: hard-light;
	opacity: 1;
	cursor: help;
}

a:link{
	opacity: 0;
}

a:visited{
	opacity: 1;
}

a:active, a:hover{
	opacity: 1;
}




