body {
  	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	perspective: 600px;
	background-color: rgb(0,0,0);
	cursor: wait;
	mix-blend-mode: hard-light;
}

#grid{
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
	opacity: 0.2;
}

#monsters{
	perspective: 600px;
	
	opacity: 0.75;
	cursor: move;
}

.mask{
	transition: transform 3s;

}








}
